div { 
    margin: 0%;
    width: 5000px;
    height: 533px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* 2 imagens */
@keyframes slide {
0%  { background-image: url('1.png'); } 
30% { background-image: url('2.png');}
60%  { background-image: url('3.png');} 
100%  { background-image: url('1.png');}
 }
 #serviços {
    background-color:#f0d9d1;
    margin: 0%;
    padding-left: 0px;
    padding-right: 0px;
    width: 1300px;
    height: 300px;
 }


 