body{
    margin: 0%;
}
header a {
    text-align: right;
    width: auto;
    height: 40px;
    margin-top: 10px;
     margin-right: 50px;
    
	
}
header img{
text-align: left;
    width: 100px;
    height: 100px;
}
div#slide { 
    margin: 0%;
    width: auto;
    height: 533px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/* 2 imagens */
@keyframes slide {
0%  { background-image: url('Design\ sem\ nome\ \(3\).png'); } 
30% { background-image: url('2.png');}
60%  { background-image: url('Design\ sem\ nome\ \(6\).png');} 
100%  { background-image: url('Design\ sem\ nome\ \(3\).png');}
 }

 #serviços {
    padding-top: 50px;
    background-color:#f4efec;
    margin: 0%;
    padding-left: 0px;
    padding-right: 0px;
    width:auto;
    border-radius: 0%;
 }

 #serviços{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

 }

 #serviços div{
     width: 20%;
 }

#serviços img{
    max-width: 100%;
    border-radius: 50%;
} 

#serviços p{
    text-align: center;
}

#opinioes{
    background-color:#DDB7AC ;
    width: auto;

}
#silvia{
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-items: center;
   
   }
   #sil{
       width: 300px;
       margin-left: 200px;
       margin-top: 100px;
       margin-right: 30px;
       margin-bottom: 50px;
   }
   #Bárbara{
       display: flex;
       text-align: justify;
       flex-direction: row;
       align-items: center;
       margin-left: 100px;
   }
   #bar{
       width: 300px;
       margin-left: 200px;
       margin-top: 50px;
       margin-right: 30px;
       margin-bottom: 100px;
   }
 
 