body{
    margin: 0%;
}
header a {
    text-align: right;
    width: auto;
    height: 40px;
    margin-top: 10px;
     margin-right: 50px;
    
	
}
header img{
text-align: left;
    width: 100px;
    height: 100px;
}
div#slide { 
    margin: 0%;
    width: auto;
    height: 533px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/* 2 imagens */
@keyframes slide {
0%  { background-image: url('Design\ sem\ nome\ \(3\).png'); } 
30% { background-image: url('2.png');}
60%  { background-image: url('Design\ sem\ nome\ \(6\).png');} 
100%  { background-image: url('Design\ sem\ nome\ \(3\).png');}
 }

#claudia{
 display: flex;
 text-align: justify;
 flex-direction: row;
 align-items: center;

}
#clau{
    width: 300px;
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 30px;
    margin-bottom: 50px;
}
#Marta{
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
#mar{
    width: 300px;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 100px;
}
#Nicole{
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-items: center;
    
   }
#nic{
    width: 300px;
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 100px;
}


footer{
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;
}
 #contactos{
    width: 35%;
 }
 #Horário{
    width: 35%;
 }